
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');


@import "tailwindcss";



*{
    font-family: Outfit;
}

a.active hr{
    display: block;
    
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


@media (max-width:640px) {
    a.active{
        background-color: black;
        color:white
    }
}


::-webkit-scrollbar{
    display: none;
}
